@import "./src/styles/colors";

.input {
  width: 18em;
  border-radius: 1em;
  height: 2em;

  &:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
