@import "./src/styles/colors";

.container {
  margin: 0 2em;
  display: flex;
  gap: 2em;
  //align-items: center;

  .side {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    color: $secondaryColor;

  }

  .itemsContainer {
    display: flex;
    row-gap: 1em;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}